body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
}

h2 {
    color: #333;
}

.series img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 20px;
    background: #007bff;
    color: white;
    padding: 10px;
}
